@import "@scss/hairline.scss";

.root {
  height: 100vh;

  :global {
    .tabs-content-wrap {
      height: 100%;
    }
    .tabs-opration {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      width: 86px;
      height: 44px;
      padding: 0 14px;
      background: #fff;
      @include hairline(bottom, #efefef);

      .icon {
        color: #9ea1ae;
        font-size: 18px;

        &:first-child {
          margin-right: 21px;
        }
      }

      &::before {
        content: "";
        width: 20px;
        height: 100%;
        position: absolute;
        left: -20px;
        top: 0;
        background: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0.3));
      }
    }
    .my-drawer {
      .am-drawer-sidebar {
        background-color: #fff;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }
    }
  }
}
